@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
@import 'vars';
@import 'reset';
@import 'transition';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $backColor;
  height: 100vh;
  color: $textColor;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}


.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;

  @media(max-width: $middleScreen) {
    max-width: 960px;
  }

  @media(max-width: $phoneMiddleScreen) {
    padding: 0 20px;
    max-width: none;
  }

  @media(max-width:$phoneScreen) {
    padding: 0 10px;
  }
}

























